@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal{
    animation: fade-in 450ms ease-in forwards ;
}
.modal .panel{
    opacity: 0;
    transform:  translateY(-50vh);
    animation: fly-in 450ms cubic-bezier(.45,1.6,.62,.57) forwards, fade-in-op 450ms ease-in forwards ;
    animation-delay: 250ms;
}



@keyframes fly-in {
    from{
        transform: translateY(-50vh);
    }
    to{
        transform: translateY(0);

    }
}
@keyframes fade-in {
    from{
        background-color: rgba(0,0,255,0);
    }
    to{
        background-color: rgba(30, 30, 65, 0.85);
    }
}
@keyframes fade-in-op {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* let colorList = ['red-500','orange-500','yellow-300','lime-400','emerald-500']; */

.color-red-500{
    @apply bg-red-500;
}

.color-orange-500{
    @apply bg-orange-500;
}


.color-yellow-300{
    @apply bg-yellow-300;
}

.color-lime-400{
    @apply bg-lime-400;
}

.color-emerald-500{
    @apply bg-emerald-500;
}